* CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
 picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*Project CSS*/
:root{
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%) ;
  --gray: hsl(246, 25%, 77%);
  --ff-pop: 'Poppins';
  --fw-regular: 400;
  --fw-medium : 500;
  --fw-semi-bold : 600;
  --fw-bold: 700;
}
body{
  background: url(images/bg-intro-desktop.png) var(--red) no-repeat;
  font-family: var(--ff-pop);
  font-weight: var(--fw-regular);
  
}
.main-grid-container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  max-width: 80%;
  min-height: 100vh;
  margin: auto;
}
.sub-grid-container {
  display: grid;
  grid-template-rows: 10vh 1fr;
  place-items: center;
}
.text-container{
  width: 90%;
  margin: auto;
}
.text-container h1 {
  width: 70%;
  font-size: 2.3rem;
  font-weight: var(--fw-bold);
  line-height: 1;
  margin-bottom: 1rem;
  color: white;
}
.text-container p {
  width: 90%;
  font-weight: var(--fw-medium);
  color: white;
  font-size: 0.875rem;
}

.sub-row-1 {
  width: 100%;
  background-color: var(--blue);
  text-align: center;
  display: grid;
  place-items: center;
  height: 50px;
  border-radius: 0.3rem;
}

.sub-row-2{
  width: 100%;
}
.form-container {
  display: grid;
  background-color: white;
  grid-template-columns: minmax(100%, 480px);
  gap: 1rem;
  padding: 2.5rem 0.1rem;
  border-radius: 0.5rem;
  
}
label {
  margin: 0.1rem 3rem;
  position: relative;
  width: 80%;
}

.form-container input {
  width: 100%;
  height: 37px;
  border: none;
  border: 1px solid #ccc;
  outline: none;
  padding-left: 0.5rem;
  border-radius: 0.215rem;
}
.form-container label img {
  position: absolute;
  top: 0.5rem;
  right: 0rem;
}
button {
  width: 83%;
  height: 50px;
  border: none;
  background-color: var(--green);
  border-radius: 0.3rem;
  margin: auto;
  padding: 0;
  margin-right: 2.1rem;
  
}
p.terms {
  margin: 0 2rem;
  font-size: 0.5rem;
  font-weight: var(--fw-bold);
  color: gray;
  margin: auto;
}
p.terms span{
  color: var(--red);
}
label > img {
  visibility: hidden;
}

@media screen and (max-width: 1199px){
  .form-container {
    grid-template-columns: 1fr;
  }
  label {
    margin: auto;
  }
  .form-container input {
    margin: auto;
  }
  button {
    width: 95%;
    margin: auto 3rem;
    align-self: center;
    justify-self: center;
  }
}
@media screen and (max-width: 500px){
  .main-grid-container {
    grid-template-columns: 1fr;
  }
  .text-container {
    text-align: center;
  }
  .text-container h1 {
    width: 90%;
    font-size: 1.7rem;
  }
  .text-container p {
    width: 100%;
  }
}